*,
::after,
::before {
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #000;
    --secondary-color: #484848;
    --third-color: #1E1E1E;
    --fourth-color: #6A6F4F;
    --fifth-color: #A1A1AA;
    --sixth-color: #393939;
    --seventh-color: #CBD0AD;
    --eighth-color: #fff;
    --nineth-color: #000;
    --tenth-color: #C5f602;
    --primary-background: #C5F601;
    --secondary-background: #000000;
    --third-background: #C5F602;
    --fourth-background: #101010;
    --fifth-background: #ffffff69;
    --privacy-background: #fff;
    --privacy-color: #000;
    --border-color: #6B8600;
    --blue: #3F66D9;
    --invert: invert(0);
    --green-gradient: linear-gradient(114.81deg, #d7ff3538 -7.27%, #68810438 77.98%), linear-gradient(104.82deg, #c5f60166 -0.08%, #ffffff24 80%);
    --triangle-background: #333821;
    --triangle-background-other-side: #627912;
    --stickout-color: #E80A0A;
    --green-border-color: #C5F60166;
    --hole-color: #D9D9D9;
    --gradient-color: #C5F60266;
    --gradient-color-and: #c5f6021e;
    --dark-shadow: linear-gradient(180deg, #00000000 0%, #000000 50.7%, #000000 100%);
    --green-box-gradient: linear-gradient(180deg, rgba(197, 246, 1, 0.49) 0%, rgba(179, 217, 30, 0.15) 100%);
    --linear-black-color: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 56.25%);
    --footer-gradient: #C5F60112;
    --direct-up-color: #5C6522;
    --facebook-background-color: #1D1D1D;
    --header-effect: #00000069;
}

@font-face {
    font-family: regular-font;
    src: url('../fonts/AvenirNextLTPro-Regular\ \(1\).otf');
}

@font-face {
    font-family: bold-font;
    src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: light-font;
    src: url('../fonts/AvenirNextLTPro-It.otf');
}

.go-green {
    color: var(--tenth-color);
}

body {
    font-family: regular-font;
}

.ham-burger li a {
    font-family: bold-font;
}
/* ------------- First Section ------------- */
.cost
{
    font-family: bold-font;
}
.darken
{
    background: var(--dark-shadow);
} 
@media(max-width:639px){
    .first-section{
        height:400px
    }
    .main-man{
        width: 278px;
    }
    .tag-one{
        top: 160px;
        left:-30px;
        transform: rotateZ(10deg)scale(0.4);
    }
    .tag-two{
        transform: rotateZ(-8deg)scale(0.4);
        top: 150px;
        right: -43px;
    }
    .tag-three{
        transform: rotateZ(-8deg)scale(0.3);
        left:-55px;
        top: 262px;
    }
    .tag-four{
        transform: rotateZ(8deg)scale(0.3);
        top: 227px;
        right: -58px;
    }
}
@media(max-width:585px){
    .tag-one{
        transform: rotateZ(10deg)scale(0.3);
        left: -63px;
        top: 160px;
    }
    .tag-two{
        transform: rotateZ(-10deg)scale(0.3);
        right: -70px;
        top: 152px;
    }
    .tag-three{
        transform: rotateZ(-10deg)scale(0.2);
        top: 264px;
        left: -85px;
    }
    .tag-four{
        transform: rotateZ(10deg)scale(0.2);
        top: 229px;
        right: -86px;
    }
}
@media(max-width:477px){
    .first-section{
        height:300px
    }
    .main-man{
        width: 186px;
        padding-bottom:20px ;
    }
    .tag-one{
        top:120px;
        left: -103px;
    }
    .tag-two{
        top:120px;
        right: -110px;
    }
    .tag-three{
        top:200px;
        left: -107px;
    }
    .tag-four{
        top:175px;
        right: -114px;
    }
}
@media(max-width:374px){
    .main-man{
        width: 206px;
    }
    .tag-one{
        top:120px;
        left: -113px;
        transform: rotateZ(10deg)scale(0.2);
    }
    .tag-two{
        top:110px;
        right: -110px;
        transform: rotateZ(-8deg)scale(0.2);
    }
    .tag-three{
        top:200px;
        left: -137px;
    }
    .tag-four{
        top:165px;
        right: -138px;
    }
}
/* -------------------section-two---------------- */
h1
{
    font-family: bold-font;
}
@media(max-width:639px){
    .h1{
        font-size: 25px;
    }
    .h1 span{
        min-width: 96px;
    }
    .para{
        font-size: 15px;
    }
}
@media(max-width:479px){
   .h1{
    font-size: 20px;
   }
   .h1 span{
    min-width: 75px;
   }
}
@media(max-width:374px){
    .h1{
        font-size: 17px;
    }
    .h1 span{
        min-width: 65px;
    }
    .para{
        font-size: 12px;
    }
}

/* ---------------------------------------------- */
/* ------------section-three--------------------- */
.store a:first-child,.footer-stores a:first-child
{
   text-align: -webkit-right;
} 
.product-information p:first-child
{
    font-family: bold-font;
}
@media(max-width:539px){
    .pulse-one{
        width:20px;
        height:20px;
        top: -136px;
        left: 58px;
    }
    .pulse-one::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-one img{
        width: 15px;
        height: 15px;
    }
    .pulse-two{
        width:20px;
        height:20px;
        top: 48px;
        left: 146px;
    }
    .pulse-two::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-two img{
        width: 15px;
        height: 15px;
    }
    .pulse-three{
        width:20px;
        height:20px;
        bottom: 105px;
        left: 80px;
    }
    .pulse-three::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-three img{
        width: 15px;
        height: 15px;
    }
    .pulse-four{
        width:20px;
        height:20px;
        bottom: 121px;
        right: 118px;
    }
    .pulse-four::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-four img{
        width: 15px;
        height: 15px;
    }
    .pulse-five{
        width:20px;
        height:20px;
        top: 72px;
        right: 67px;
    }
    .pulse-five::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-five img{
        width: 15px;
        height: 15px;
    }
    .pulse-six{
        width:20px;
        height:20px;
        top: 30px;
        right: 162px;
    }
    .pulse-six::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-six img{
        width: 15px;
        height: 15px;
    }
    .pulse-seven{
        width:20px;
        height:20px;
        top: 55px;
    }
    .pulse-seven::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-seven img{
        width: 15px;
        height: 15px;
    }
    .stores-before-text p{
        font-size: 21px;
        margin: 100px auto 25px auto;
    }
}
@media(max-width:479px){
    .pulse-one{
        width:20px;
        height:20px;
        top: -82px;
        left: 34px;
    }
    .pulse-one::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-one img{
        width: 15px;
        height: 15px;
    }
    .pulse-two{
        width:20px;
        height:20px;
        top: 31px;
        left: 112px;
    }
    .pulse-two::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-two img{
        width: 15px;
        height: 15px;
    }
    .pulse-three{
        width:20px;
        height:20px;
        bottom: 85px;
        left: 60px;
    }
    .pulse-three::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-three img{
        width: 15px;
        height: 15px;
    }
    .pulse-four{
        width:20px;
        height:20px;
        bottom: 96px;
        right: 88px;
    }
    .pulse-four::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-four img{
        width: 15px;
        height: 15px;
    }
    .pulse-five{
        width:20px;
        height:20px;
        top: 48px;
        right: 52px;
    }
    .pulse-five::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-five img{
        width: 15px;
        height: 15px;
    }
    .pulse-six{
        width:20px;
        height:20px;
        top: 17px;
        right: 126px;
    }
    .pulse-six::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-six img{
        width: 15px;
        height: 15px;
    }
    .pulse-seven{
        width:20px;
        height:20px;
        top: 36px;
        left: 44px;
    }
    .pulse-seven::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-seven img{
        width: 15px;
        height: 15px;
    }
    .stores-before-text p{
        font-size: 17px;
    }
}
@media(max-width:374px){
    .pulse-one{
        width:20px;
        height:20px;
        top: -67px;
        left: 24px;
    }
    .pulse-one::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-one img{
        width: 15px;
        height: 15px;
    }
    .pulse-two{
        width:20px;
        height:20px;
        top: 24px;
        left: 89px;
    }
    .pulse-two::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-two img{
        width: 15px;
        height: 15px;
    }
    .pulse-three{
        width:20px;
        height:20px;
        bottom: 70px;
        left: 47px;
    }
    .pulse-three::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-three img{
        width: 15px;
        height: 15px;
    }
    .pulse-four{
        width:20px;
        height:20px;
        bottom: 79px;
        right: 71px;
    }
    .pulse-four::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-four img{
        width: 15px;
        height: 15px;
    }
    .pulse-five{
        width:20px;
        height:20px;
        top: 39px;
        right: 39px;
    }
    .pulse-five::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-five img{
        width: 15px;
        height: 15px;
    }
    .pulse-six{
        width:20px;
        height:20px;
        top: 10px;
        right: 100px;
    }
    .pulse-six::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-six img{
        width: 15px;
        height: 15px;
    }
    .pulse-seven{
        width:20px;
        height:20px;
        top: 27px;
        left: 34px;
    }
    .pulse-seven::after{
        height: 10px;
        width: 10px;
        left: 5px;
        border-radius: 0px;
    }
    .pulse-seven img{
        width: 15px;
        height: 15px;
    }
    .stores-before-text p{
        font-size: 14px;
    }
}

/* ------------ Section-Four------------ */
h2
{
    font-family: bold-font;
}
.whole-fill
{
    background: var(--green-box-gradient);
}
.lap-content p:first-child
{
    font-family: bold-font;
}
.lap-content a
{
    font-family: bold-font;
}
.thunder-man, .puzzle-side
{
    background: var(--green-box-gradient);
}
.double-sided p:first-child
{
    font-family: bold-font;
}
.double-sided a
{
    font-family: bold-font;
}
@media(max-width:639px){
    .h2{
        font-size: 30px;
    }
    .whole-fill{
        min-height: 420px;
        flex-direction: column;
    }
    .lappart{
        width: 100%;
    }
    .lappart img{
        width: 400px;
        top: -135px;
        left: 50px;
    }
    .lap-content{
        margin-top: auto;
        padding: 25px;
        width: 100%;
    }
    .lap-content p:first-child{
        font-size: 21px;
        line-height: 1.7;
    }
    .lap-content p:nth-child(2){
        font-size: 16px;
        line-height: 1.5;
    }
    .lap-content a {
        min-width: 150px;
        min-height: 50px;
        font-size: 20px;
    }
    .dual-role{
        flex-direction: column;
    }
    .thunder-man, .puzzle-side{
        min-height: 650px;
        width: 100%;
    }
    .double-sided p:first-child{
        font-size: 21px;
        line-height: 1.5;
    }
    .double-sided p:nth-child(2){
        font-size: 16px;
        line-height: 1;
    }
    .double-sided a{
        min-width: 150px;
        min-height: 50px;
        font-size: 20px;
    }
}
@media(max-width:575px){
    .h2{
        font-size: 25px;
        margin: 70px auto 50px auto;
    }
    .whole-fill{
        min-height: 450px;
    }
    .thunder-man, .puzzle-side{
        min-height: 550px;
    }
    .lappart img{
        left: 20px;
    }
    .lap-content p:first-child{
        font-size: 20px;
    }
    .double-sided p:first-child{
        font-size: 20px;
    }
}
@media(max-width:479px){
    .h2{
        font-size: 22px;
        margin: 70px auto 0px auto;
    }
    .whole-fill{
        min-height: 416px;
        margin: 50px 0px;
    }
    .lappart img{
        left: -20px;
        top:-100px
    }
    .lap-content p:first-child{
        font-size: 15px;
    }
    .lap-content p:nth-child(2){
        font-size: 13px;
    }
    .thunder-man, .puzzle-side{
        min-height: 400px;
    }
    .double-sided p:first-child{
        font-size: 15px;
    }
    .double-sided p:nth-child(2){
        font-size: 13px;
    }
}
/* ---------------------------------------------- */
/* ---------------section-five-------------------*/
.section-five-logo
{
    text-align: -webkit-center;
}
.linear-black-color
{
    background: var(--linear-black-color);
} 
@media(max-width:639px){
    .section-five-logo img{
        width: 120px;
    }
    .mobile-screens img{
        margin-bottom: -130px;
    }
    .linear-black-color{
        min-height: 350px;
    }
}
@media(max-width:575px){
    .section-five-logo img{
        width: 100px;
    }
    .linear-black-color{
        min-height: 256px;
    }
}
@media(max-width:479px){
    .section-five-logo img{
        width: 90px;
    }
    .mobile-screens img{
        margin-bottom: 0;
    }
    .linear-black-color{
        min-height: 166px;
    }
}
@media(max-width:374px){
    .section-five-logo img{
        width: 70px;
    }
    .linear-black-color{
        min-height: 106px;
    }
}
/* ---------------------------------------------- */
/* ----------------Footer------------------------ */
.footer-logo
{
    text-align: -webkit-center;
}
.footer-top-gradient
{
    box-shadow: 0px 0px 1000px 150px var(--footer-gradient);
}
.footer-bottom-gradient
{
    box-shadow: 0px 0px 1000px 150px var(--footer-gradient);
}
.up-arrow img
{
    animation: up-and-down 2s linear infinite;
}
@keyframes up-and-down {
    0%
    {
        transform: translateY(-5px);
    }
    50%
    {
        transform: translateY(5px);
    }
    100%
    {
        transform: translateY(-5px);
    }
}
@media(max-width:639px){
    .footer-logo a img {
        width:120px;
    }
    .know-em{
        font-size: 17px;
    }
    .footer-stores a img {
        width: 100%;
    }
    .up-arrow{
        bottom: 100px;
    }
    .copyDopy{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .Copyright{
        padding: 25px 0px;
    }
    .social-media{
        padding: 25px 0px 0px 0px;
    }
}
@media(max-width:575px){
    .footer-logo a img{
        width: 100px;
    }
    .know-em{
        font-size: 14px;
    }
    .up-arrow{
        bottom: 78px;
    }
    .Copyright{
        font-size: 10px;
    }
}
@media (max-width: 479px){
    .up-arrow {
        bottom: 84px;
    }
    .up-arrow img{
        width: 20px;
    }
    .social-media a {
        width: 25px;
        height: 25px;
    }
    .social-media a:first-child img {
        width: 11px;
    }
    .social-media a:nth-child(2) img{
        width: 7px;
    }
    .social-media a:last-child img{
        width: 11px;
    }
}
@media(max-width:374px){
    .footer-logo a img{
        width:90px;
    }
    .Copyright{
        font-size: 9px;
    }
    .up-arrow {
        right: 30px;
        bottom: 84px;
    }
}